<br>
<br>

<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <h4 class="color_principal">Verifica Tu codigo</h4>
      <form class="login-form" [formGroup]="fGroup">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="codigo" class="validate" id="2fa" type="text">
            <label for="2fa" data-error="wrong" data-success="right">Código</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 centrar_boton">
            <button (click)="ValidarCodigo2fa()" class="waves-effect waves-light btn-large boton"><i class="material-icons left">check</i>Validar</button>
          </div>
        </div>
      </form>
    </div>
  </div>