<br>
<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <h3 class="color_principal">Contactar Cliente</h3>
        <form [formGroup]="fGroup" class="login-form">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input formControlName="correoCliente" class="validate"
                        id="correoCliente"
                        type="email">
                    <label for="correoCliente" data-error="wrong"
                        data-success="right">Correo</label>
                    <div class="show-errors"
                        *ngIf="obtenerFormGroup['correoCliente'].errors
                        && (obtenerFormGroup['correoCliente'].dirty ||
                        obtenerFormGroup['correoCliente'].touched)">
                        <strong>Este campo es obligatorio y debe tener el
                            formato de correo electrónico</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">insert_comment</i>
                    <input formControlName="asuntoCorreo" id="asuntoCorreo"
                        type="text">
                    <label for="asuntoCorreo">Asunto</label>
                    <div class="show-errors"
                        *ngIf="obtenerFormGroup['asuntoCorreo'].errors
                        && (obtenerFormGroup['asuntoCorreo'].dirty ||
                        obtenerFormGroup['asuntoCorreo'].touched)">
                        <strong>Este campo es obligatorio</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">keyboard</i>
                    <input formControlName="motivoMensaje" id="motivoMensaje"
                        type="text">
                    <label for="motivoMensaje">Mensaje</label>
                    <div class="show-errors"
                        *ngIf="obtenerFormGroup['motivoMensaje'].errors
                        && (obtenerFormGroup['motivoMensaje'].dirty ||
                        obtenerFormGroup['motivoMensaje'].touched)">
                        <strong>Este campo es obligatorio</strong>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">keyboard</i>
                    <textarea id="motivoMensaje" class="materialize-textarea"
                        #motivoMensaje></textarea>
                    <label for="motivoMensaje">Mensaje</label>
                    <div class="show-errors"
                        *ngIf="obtenerFormGroup['motivoMensaje'].errors
                        && (obtenerFormGroup['motivoMensaje'].dirty ||
                        obtenerFormGroup['motivoMensaje'].touched)">
                        <strong>Este campo es obligatorio</strong>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="input-field col s12 centrar_boton">
                    <button id="enviar_boton" (click)="Enviar()"
                        class="waves-effect waves-light btn-large boton"><i
                            class="material-icons left">person_add</i>Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    
  $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1'));
        
</script>