<br>
<br>
<div class="container contenedor">
    <div class="row">
        <div class="col s6 separador">
            <h2 class="color_principal centrar">Cliente</h2>
            <p class="parrafo espacio">Encuentra tu hogar ideal en
                nuestra página de
                inmobiliaria. Regístrate
                ahora para acceder a las
                mejores ofertas de
                propiedades.</p>
            <div class="boton_div">
                <a routerLink="/seguridad/registro-publico" class="waves-effect waves-light btn-large boton"><i
                        class="material-icons left">person</i>Regístrate</a>
            </div>
        </div>
        <div class="col s6">
            <h2 class="color_principal centrar">Asesor</h2>
            <p class="parrafo">Únete a nuestra comunidad
                de asesores inmobiliarios y
                expande tu negocio.
                Regístrate ahora para
                acceder a nuestra
                plataforma y comenzar a
                recibir más oportunidades de
                ventas.</p>
            <div class="boton_div">
                <a routerLink="./../registro-publico-asesor" class="waves-effect waves-light btn-large boton"><i
                        class="material-icons left">assignment_ind</i>Regístrate</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>