<div class="centrar_conteneder">
    <div *ngIf="!validado">
        <div class="row">
            <div class="col s12 centrar">
                <h5 class="color">Estamos Validando Tu Correo...</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 centrar">
                <div class="lds-hourglass"></div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="validado" class="container centrar_contenedor">
    <h1>Validado correctamente</h1>
</div>