<br>
<div class="container">
    <div class="contenedor">
        <h3 class="color_principal">Contactanos</h3>
        <form [formGroup]="fGroup" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input formControlName="tipoMensaje" id="tipoMensaje" type="text" class="validate" />
                    <label for="tipoMensaje">Tipo de Mensaje</label>
                </div>
                <div class="input-field col s6">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Tipo de Inmueble</label>

                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea formControlName="mensaje" id="mensaje" class="materialize-textarea"></textarea>
                    <label for="mensaje">Mensaje</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        <label>
                            <input formControlName="alquiler" id="alquiler" name="tipo" type="radio" checked />
                            <span>Alquiler</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input formControlName="venta" id="venta" name="tipo" type="radio" />
                            <span>Venta</span>
                        </label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="centrar_boton">
                    <button class="waves-effect waves-light btn-large boton" type="button" (click)="Enviar()">
                        Registrarse
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>