<div class="container">
    <div class="row">
        <div>
            <h1 class="color_principal centrar">Solicitudes</h1>
        </div>
    </div>
    <div class="row template">
        <div *ngFor="let r of listaSolicitudes">
            <div class="card">
                <span class="card-title color_principal">El estado de su
                    solicitud es: </span>
                <span class="card-title color_principal tipo">{{ r.estadoId ?
                    obtenerEstadoSolicitud(r.estadoId) : '' }}</span>
                <p><br></p>
                <div class="card-content prueba">
                    <p class="prueba1"> El id de su solicitud es: {{
                        r.id }}</p>
                    <p class="prueba1"> La fecha de su solicitud es: {{
                        r.fechaSolicitud }}</p>
                </div>
                <div class="card-action grow prueba">
                    <a class="color_link"
                        routerLink="/">Ver más</a>
                </div>
                <div class="card-action grow prueba">
                    <!-- ACEPTADO -->
                    <button *ngIf="r.estadoId === 3" (click)="contrato()"
                        class="waves-effect waves-light btn-large boton aceptado"><i
                            class="material-icons left">arrow_downward</i>Descargar
                        Contrato</button>
                    <!-- ACEPTADO CON CODEUDOR -->
                    <button *ngIf="r.estadoId === 4" (click)="coDeudor()"
                        class="waves-effect waves-light btn-large boton aceptado"><i
                            class="material-icons left">arrow_downward</i>Descargar
                        Contrato CoDeudor</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row centrar">
        <div class="input-field col s12 centrar">
            <button id="enviar_boton" (click)="solicitar()"
                class="waves-effect waves-light btn-large boton"><i
                    class="material-icons left">home</i>Solicitar</button>
        </div>
    </div>
</div>
