<div class="container separador">
    <div class="row centrar">
        <div class="col s6">
            <img class="" width="650" src="../assets/media/home.png">
        </div>
        <div class="col s6">
            <h3 class="color_principal centrar">¡Bienvenido/a!</h3>
            <p class="parrafo">En nuestra página de inmobiliaria, encontrarás las mejores opciones de propiedades para ti. Regístrate para acceder a información detallada y recibir asesoramiento personalizado por parte de nuestro equipo de expertos. Haz clic en el botón de registro y encuentra tu hogar ideal.</p>
            <div class="boton_div">
            <a class="waves-effect waves-light btn-large boton"><i class="material-icons left">edit</i>Regístrate</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s6">
          <h3 class="color_principal">¿Quienes Somos?</h3>
          <p class="parrafo1">En nuestra página de inmobiliaria, encontrarás las mejores opciones de propiedades para ti. Regístrate para acceder a información detallada y recibir asesoramiento personalizado por parte de nuestro equipo de expertos. Haz clic en el botón de registro y encuentra tu hogar ideal.</p>
        </div>
        <div class="col s6">
            <img class="" width="650" src="../assets/media/home1.png">
        </div>
      </div>
</div>
