<!-- SESION NO ACTIVA Conteneder 1 ------------------------------------------------------>
<div class="container separador" *ngIf="!sesionAtiva">
    <div class="row centrar">
        <div class="col s5">
            <img class width="650" src="../assets/media/home.png">
        </div>
        <div class="col s2"></div>
        <div class="col s5">
            <h3 class="color_principal centrar">¡Bienvenido/a!</h3>
            <p class="parrafo">En nuestra página de inmobiliaria, encontrarás
                las mejores opciones de propiedades para
                ti. Regístrate para acceder a información detallada y recibir
                asesoramiento personalizado por parte de
                nuestro equipo de expertos. Haz clic en el botón de registro y
                encuentra tu hogar ideal.</p>
            <div class="boton_div">
                <a routerLink="/seguridad/registro" class="waves-effect
                    waves-light btn-large boton"><i
                        class="material-icons left">edit</i>Regístrate</a>
            </div>
        </div>
    </div>
</div>
<!-- SESION ACTIVA Contenedor 1 ------------------------------------------------------>
<div class="container separador" *ngIf="sesionAtiva">
    <div class="row centrar">
        <div class="col s5">
            <img class width="650" src="../assets/media/bienvenido.png">
        </div>
        <div class="col s2"></div>
        <div class="col s5">
            <h5 class="color_principal centrar">Tu hogar en unos cuantos clicks
            </h5>
            <p class="parrafo mensaje">¡Es un placer darte la bienvenida a
                nuestra página de inmobiliaria y
                agradecerte por registrarte! Sabemos que buscar una propiedad
                puede ser una tarea
                desafiante, pero nuestro objetivo es hacer que la experiencia
                sea lo más fácil y
                placentera posible.
                Al registrarte en nuestra página, tienes acceso a una amplia
                variedad de
                opciones de propiedades disponibles, tendrás la oportunidad de
                trabajar
                con nuestro equipo de expertos en bienes raíces, quienes están
                disponibles
                para responder cualquier pregunta que puedas tener y ayudarte a
                encontrar
                la propiedad perfecta para ti.</p>
        </div>
    </div>
</div>
<!-- SESION NO ACTIVA Contenedor 2 ------------------------------------------------------>
<div class="container separador" *ngIf="!sesionAtiva">
    <div class="row">
        <div class="col s6">
            <h3 class="color_principal">¿Quienes Somos?</h3>
            <p class="parrafo1">Somos una empresa de inmobiliaria comprometida
                en ayudar a las personas a encontrar su
                hogar ideal. Contamos con un equipo de profesionales apasionados
                y experimentados que se esfuerzan por
                superar las expectativas de nuestros clientes. Valoramos la
                transparencia, la honestidad y la
                construcción de relaciones sólidas. Nuestro objetivo es
                brindarte soluciones personalizadas y un
                servicio excepcional en cada etapa del proceso. Estamos aquí
                para hacer de la compra o venta de una
                propiedad una experiencia fluida y satisfactoria. Explora
                nuestro sitio web, contáctanos y permítenos
                ser tu socio confiable en todas tus necesidades inmobiliarias.</p>
        </div>
        <div class="col s6">
            <img class width="650" src="../assets/media/home1.png">
        </div>
    </div>
</div>
<!-- SESION ACTIVA Contenedor 2 ------------------------------------------------------>
<div class="container" *ngIf="sesionAtiva">
    <div class="row">
        <div class="col s6">
            <h3 class="color_principal">Nuestros servicios inmobiliarios</h3>
            <p class="parrafo1">En nuestra página de inmobiliaria, nos dedicamos
                a ofrecer una amplia variedad de
                servicios inmobiliarios para satisfacer todas las necesidades de
                nuestros clientes. Desde la compra y
                venta de propiedades hasta la búsqueda de propiedades y la
                visualización de todas las propiedades
                disponibles, nuestro equipo de expertos está a tu disposición
                para ayudarte en cada paso del camino.</p>
        </div>
        <div class="col s6">
            <img class width="600" src="../assets/media/servicios.png">
        </div>
    </div>
</div>

<!-- SESION NO ACTIVA Contenedor 3 ------------------------------------------------------>
<br>
<div class="container" *ngIf="!sesionAtiva">
    <div class="row">
        <div class="col s6">
            <div class="card">
                <span class="card-title color_principal titulo">Visión</span>
                <div class="card-image">
                    <img class width="650" src="../assets/media/faro.png">
                </div>
                <div class="card-content fondo">
                    <p class="color">Nuestra visión es convertirnos en la
                        principal referencia en el mercado
                        inmobiliario, reconocidos
                        por nuestra excelencia, integridad y compromiso con la
                        satisfacción del cliente. Nos esforzamos
                        por ser líderes en la industria, proporcionando
                        soluciones innovadoras y servicios de alta
                        calidad que superen las expectativas de nuestros
                        clientes.</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <span class="card-title color_principal titulo">Misión</span>
                <div class="card-image">
                    <img class width="650"
                        src="../assets/media/equipo2.png">
                </div>
                <div class="card-content fondo">
                    <p class="color">Nuestra misión es ayudar a las personas a
                        encontrar su hogar ideal y facilitarles
                        el proceso de transacciones inmobiliarias. Brindamos un
                        servicio profesional, transparente y
                        confiable, centrándonos en las necesidades individuales
                        de cada cliente. Buscamos establecer
                        relaciones duraderas y satisfactorias, guiándolos en
                        cada paso y asegurando el cumplimiento
                        exitoso de sus objetivos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
