.fondo {
  background-color: #0f435f;
}

.direccion {
  display: flex;
  flex-direction: column;
}

.perfil {
  display: flex;
  justify-content: center;
}

.opcion {
  box-shadow: inset 0 0 0 0 #449dd1;
  color: #449dd1;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.opcion:hover {
  box-shadow: inset 230px 0 0 0 #449dd1;
  color: white;
}

.contenedor{
  position: relative;
  bottom: 58px;
  left: 15px;
  max-width:30px
  
}


.menu{
  border: 2px solid white;
  color: white;
  border-radius: 9px;
  padding-top: 13px;
  padding-left: 6px;
  padding-right: 6px;
}

.menu:hover{
  background-color:#449DD1
  
}