<div class="container">
    <div class="row">
        <div>
            <h1 class="color_principal centrar">Solicitudes</h1>
        </div>
    </div>
    <div class="row template">
        <div *ngFor="let r of listaSolicitudes">
            <div class="card">
                <span class="card-title color_principal">El estado de su
                    solicitud es: </span>
                <span class="card-title color_principal tipo">{{ r.estadoId ?
                    obtenerEstadoSolicitud(r.estadoId) : '' }}</span>
                <p><br></p>
                <div class="card-content prueba">
                    <p class="prueba1"> La fecha de su solicitud es: {{
                        r.fechaSolicitud }}</p>
                    <p class="prueba1"> El cliente de la solicitud es: {{
                        r.clienteId }}</p>
                    <p class="prueba1"> El id de su
                        solicitud es: {{
                        r.id }}</p>
                    <p class="prueba1"> El id de su
                        inmueble es: {{
                        r.inmuebleId }}</p>
                </div>
                <!-- <div class="card-action prueba">
                    <a class="color_link"
                        routerLink="/">Ver más</a>
                </div> -->
                <div class="card-action prueba">
                    <!-- EN ENVIADO -->
                    <button *ngIf="r.estadoId === 1"
                        (click)="r.id && pasarEnEstudio(r.id)"
                        class="waves-effect waves-light btn-large boton rechazado">
                        <i class="material-icons left">close</i>Pasar a Estudio
                    </button>
                    <!-- EN ESTUDIO -->
                    <!-- ACEPTAR -->
                    <button *ngIf="r.estadoId === 2 || r.estadoId === 4"
                        (click)="r.id && aceptar(r.id)"
                        class="waves-effect waves-light btn-large boton aceptado">
                        <i class="material-icons left">close</i>Aceptar
                        Solicitud
                    </button>
                    <!-- ACEPTAR CODEUDOR -->
                    <button *ngIf="r.estadoId === 2"
                        (click)="r.id && aceptarCodeudor(r.id)"
                        class="waves-effect waves-light btn-large boton aceptadocodeudor">
                        <i class="material-icons left">close</i>Aceptar
                        Solicitud CoDeudor
                    </button>
                    <!-- RECHAZAR -->
                    <button *ngIf="r.estadoId === 2 || r.estadoId === 4"
                        (click)="r.id && rechazar(r.id)"
                        class="waves-effect waves-light btn-large boton rechazado">
                        <i class="material-icons left">close</i>Rechazar
                        Solicitud
                    </button>
                    <button *ngIf="r.estadoId === 4"
                        (click)="r.id && solicitarCodeudor(r.id)"
                        class="waves-effect waves-light btn-large boton aceptadocodeudor">
                        <i class="material-icons left">close</i>Solicitar
                        Informacion
                    </button>
                    <!-- RECHAZADO -->
                    <form form *ngIf="r.estadoId === 5" [id]="'form-' + r.id">
                        <div class="row">
                            <div class="input-field col">
                                <textarea [id]="'motivoRechazo-' + r.id"
                                    class="materialize-textarea"></textarea>

                                <label for="textarea1">Comentario</label>
                            </div>
                        </div>
                        <button (click)="r.id && subirComentario($event,r.id)"
                            class="waves-effect waves-light btn-large boton estudio">
                            <i class="material-icons left">arrow_upward</i>Subir
                            Comentario
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row centrar">
        <div class="input-field col s12 centrar">
            <button id="enviar_boton" (click)="solicitar()"
                class="waves-effect waves-light btn-large boton"><i
                    class="material-icons left">home</i>Solicitar</button>
        </div>
    </div>
</div>
