<div class="container">
    <br />
    <h4 class="color_principal" >INMUEBLES</h4>
    <br />
    <table>
      <thead>
        <tr>
          <th>Direccion</th>
          <th>Costo</th>
          <th>Tipo de Inmueble</th>
          <th>Ciudad</th>
          <th>Para Venta</th>
          <th>Para Alquiler</th>
          <th>Correo del Asesor</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inmueble of listaInmuebles | paginate: { itemsPerPage: 10, currentPage: pag, totalItems: total }">
          <td>{{inmueble.direccion}}</td>
          <td>{{inmueble.costo}}</td>
          <td>{{inmueble.tipoInmuebleId ? obtenerTipoInmueble(inmueble.tipoInmuebleId) : ''}}</td>
          <td>{{inmueble.ciudadId}}</td>
          <td>{{inmueble.paraVenta ? obtenerTipoVenta(inmueble.paraVenta): ''}}</td>
          <td>{{inmueble.paraAlquiler ? obtenerTipoAlquiler(inmueble.paraAlquiler): ''}}</td>
          <td>{{inmueble.correoAsesor}}</td>
          <td>
            <img src="{{BASE_URL}}ObtenerArchivos/1/{{inmueble.foto}}" class="imagenListadoRegistros" />
          </td>
          <td class="direccion">
            <a routerLink="/parametros/pagina-inmueble/{{inmueble.id}}"
              class="btn orange">Ver más</a>&nbsp;
            <a routerLink="/parametros/crear-solicitudes-cliente/{{inmueble.id}}"
              class="btn red">Solicitar</a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <pagination-controls
            (pageChange)="pag = $event; ListarRegistrosInmuebles()"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            screenReaderPaginationLabel="Navegación"
            screenReaderPageLabel="Página"
            screenReaderCurrentLabel="Página Actual">
            </pagination-controls>
          </td>
        </tr>
      </tbody>
    </table>
  </div>