.copy {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: #a8a8a8;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.footer_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  padding-top: 30px;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
}
/* For medium devices */

@media screen and (min-width: 568px) {
}

@media screen and (min-width: 768px) {
}

/* For large devices */

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1256px) {
}
