<footer>
  <div class="container space">
    <div class="row footer_center">
      <div class="col s4">
        <a routerLink="/inicio" class=""> <img class="" width="300px" src="../assets/media/line.svg"></a>
      </div>
      <div class="col s4">
        <div class="redes">
          <a routerLink="/inicio" class=""> <img class="" width="50" src="../assets/media/facebook.svg"></a>
          <a routerLink="/inicio" class=""> <img class="" width="50" src="../assets/media/instagram.svg"></a>
          <a routerLink="/inicio" class=""> <img class="" width="50" src="../assets/media/twitter.svg"></a>
        </div>
      </div>
      <div class="col s4">
        <a routerLink="/inicio" class=""> <img class="" width="300px" src="../assets/media/line.svg"></a>
      </div>
    </div>
    <div class="copy">
      Copyright © 2023 INMOBILIARIA TU HOGAR
    </div>
  </div>
</footer>
