<fieldset class="center container">
    <legend>Edición de Inmuebles</legend>
    <div class="row">
        <form class="col s12" [formGroup]="cargaArchivoFG">
            <div class="row">
                <div class="showImage center-align">
                    <img *ngIf="!archivoCargado" src="/assets/media/default.png" class="imagenInmueble" />
                    <img *ngIf="archivoCargado" src="{{BASE_URL}}ObtenerArchivo/1/{{nombreArchivoCargado}}" class="imagenInmueble" />
                </div>
            </div>
            <div class="file-field input-field row">
                <div class="btn col s3">
                    <span>Seleccionar Archivo</span>
                    <input (change)="CuandoSeleccionaArchivo($event)" name="image" type="file">
                </div>
                <div class="file-path-wrapper col s9">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="button" class="btn" value="Subir Archivo" (click)="CargarArchivo()" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
      <form [formGroup]="fGroup">
        <div class="row">
          <div class="input-field col s4">
            <input type="hidden" formControlName="id" />
            <input formControlName="direccion" class="validate" id="direccion" type="text">
            <label for="direccion" data-error="wrong" class="active" data-success="right">Direccion</label>
            <div class="show-errors" *ngIf="obtenerFgDatos['direccion'].errors 
            && (obtenerFgDatos['direccion'].dirty || obtenerFgDatos['direccion'].touched)">
            <strong>Este campo es obligatorio</strong>
            </div>
          </div>
          <div class="input-field col s4">
            <input formControlName="costo" id="costo" type="number">
            <label for="costo" class="active" >Costo</label>
            <div class="show-errors" *ngIf="obtenerFgDatos['costo'].errors 
            && (obtenerFgDatos['precioVenta'].dirty || obtenerFgDatos['costo'].touched)">
            <strong>Este campo es obligatorio</strong>
            </div>
          </div>
          <div class="input-field col s4">
            <select #selectElement (change)="onSelectChange(selectElement.value)">
              <option value="" disabled selected>Tipo de inmueble</option>
              <option value="1">Casa</option>
              <option value="2">Apartamento</option>
              <option value="3">Finca</option>
            </select>
            <label>Elige uno</label>
            </div>
            <div class="input-field col s4">
              <input formControlName="ciudadId" id="ciudadId" type="number">
              <label for="ciudadId">ciudad</label> 
              <div class="show-errors" *ngIf="obtenerFgDatos['ciudadId'].errors 
              && (obtenerFgDatos['ciudadId'].dirty || obtenerFgDatos['ciudadId'].touched)">
              <strong>Este campo es obligatorio</strong>
              </div>
            </div> 
            <!-- PARA VENDER -->
        <div class="input-field col s4">
          <label>
            <input formControlName="paraVenta" id="paraVenta" type="checkbox">
            <span>Para Venta</span>
          </label>
          <div class="show-errors" *ngIf="obtenerFgDatos['paraVenta'].errors 
            && (obtenerFgDatos['paraVenta'].dirty || obtenerFgDatos['paraVenta'].touched)">
            <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        <!-- PARA ALQUILAR -->
        <div class="input-field col s4">
          <label>
            <input formControlName="paraAlquiler" id="paraAlquiler" type="checkbox">
            <span>para Alquiler</span>
          </label>
          <div class="show-errors" *ngIf="obtenerFgDatos['paraAlquiler'].errors 
            && (obtenerFgDatos['paraAlquiler'].dirty || obtenerFgDatos['paraAlquiler'].touched)">
            <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        <!-- CORREO DEL ASESOR -->
        <div class="input-field col s5">
          <input formControlName="correoAsesor" id="correoAsesor" type="text">
          <label for="correoAsesor">correo Asesor</label>
          <div class="show-errors" *ngIf="obtenerFgDatos['correoAsesor'].errors 
          && (obtenerFgDatos['correoAsesor'].dirty || obtenerFgDatos['correoAsesor'].touched)">
          <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        <!-- FECHA -->
        <div class="input-field col s5">
          <input formControlName="fecha" id="fecha" type="date">
          <label for="fecha">Fecha</label>
          <div class="show-errors" *ngIf="obtenerFgDatos['fecha'].errors 
            && (obtenerFgDatos['fecha'].dirty || obtenerFgDatos['fecha'].touched)">
            <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a routerLink="/parametros/inmueble-listar" class="btn red">Cancelar</a>&nbsp;
            <button (click)="EditarRegistro()" class="btn waves-effect waves-light">Editar</button>
          </div>
        </div>
      </form>
    </div>
</fieldset>