<div class="columna">
  <div>
    <h2 class="centrar color_principal">Filtros</h2>
    <div class="row direccion">
      <div class="row centrar">
        <div class="input-field col s12 centrar">
          <button id="alquiler_boton" (click)="alquiler()"
            class="btn-large boton quieto">
            Alquiler
          </button>
        </div>
      </div>

      <div class="row centrar">
        <div class="input-field col s12 centrar">
          <button id="venta_boton" (click)="venta()" class="btn-large boton">
            Venta
          </button>
        </div>
      </div>
    </div>
    <div class="row centrar">
      <div class="input-field col s12 centrar">
        <button (click)="filtrarPorTipo(3)" class="btn-small boton">
          Finca
        </button>
        <button (click)="filtrarPorTipo(1)" class="btn-small boton">
          Casa
        </button>
        <button (click)="filtrarPorTipo(2)" class="btn-small boton">
          Apartamento
        </button>
      </div>
    </div>

  </div>
  <div>
    <h2 class="centrar color_principal">Inmuebles</h2>
    <div class="row linea" *ngIf="showAlquiler">
      <!-- Mostrar la lista de inmuebles para alquiler -->
      <div *ngFor="let inmueble of listaInmuebles" class="col s4 ">
        <span class="card-title color_principal">{{ inmueble.direccion }}</span>
        <div class="card">
          <div class="card-image">
            <img [src]="inmueble.foto">
          </div>
          <div class="card-content prueba">
            <p class="prueba1">El precio del inmueble es: {{ inmueble.costo |
              currency }}</p>
            <p class="prueba1">El inmueble es: {{ inmueble.tipoInmuebleId ?
              obtenerTipoInmueble(inmueble.tipoInmuebleId) : '' }}</p>
          </div>
          <div class="card-action grow prueba">
            <a class="color_link" routerLink="/">Ver más</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row linea" *ngIf="showVenta">
      <!-- Mostrar la lista de inmuebles para venta -->
      <div *ngFor="let inmueble of listaInmuebles" class="col s4">
        <span class="card-title color_principal">{{ inmueble.direccion }}</span>
        <div class="card">
          <div class="card-image">
            <img [src]="inmueble.foto">
          </div>
          <div class="card-content prueba">
            <p class="prueba1">El precio del inmueble es: {{ inmueble.costo |
              currency }}</p>
            <p class="prueba1">El inmueble es: {{ inmueble.tipoInmuebleId ?
              obtenerTipoInmueble(inmueble.tipoInmuebleId) : '' }}</p>
          </div>

          <div class="card-action grow prueba">
            <a class="color_link" routerLink="/">Ver más</a>
          </div>
        </div>
      </div>
    </div>

  </div>
