<nav class="blue">
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a *ngIf="!sesionAtiva" routerLink="/seguridad/identificar-usuario">Iniciar
          sesión</a></li>
      <li><a *ngIf="sesionAtiva" routerLink="/seguridad/cambiar-clave">Cambiar
          clave</a></li>
      <li><a *ngIf="sesionAtiva" routerLink="/seguridad/cerrar-sesion">Cerrar
          sesion</a></li>
    </ul>
  </div>
</nav>
<div *ngIf="sesionAtiva">
  <app-menu-lateral>

  </app-menu-lateral>
</div>
