<br />
<!-- <a routerLink="/parametros/solicitud-agregar" class="btn">Agregar Registro</a> -->
<br />

<table>
    <thead>
      <tr>
          <th>Fecha Solicitud</th>
          <th>Cliente</th>
          <th>Asesor</th>
          <th>Codeudor</th>
          <th>Tipo de Solicitud</th>
          <th>Estado</th>
          <th>Tipo de Inmueble</th>
          <th>Inmuebel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of listaSolicitudes">
        <td>{{solicitud.fechaSolicitud}}</td>
        <td>{{solicitud.clienteId}}</td>
        <td>{{solicitud.asesorId}}</td>
        <td>{{solicitud.codeudorId}}</td>
        <td>{{solicitud.tipoSolicitdId}}</td>
        <td>{{solicitud.estadoId}}</td>
        <td>{{solicitud.tipoSolicitdId}}</td>
        <td>{{solicitud.inmuebleId}}</td>
        <td>
            <a routerLink="/parametros/inmueble-editar/{{solicitud.id}}" class="btn orange">Editar Registro</a>&nbsp;
            <a routerLink="/parametros/inmueble-eliminar/{{solicitud.id}}" class="btn red">Eliminar Registro</a>
        </td>
      </tr>
    </tbody>
  </table>